<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
.disqus-comments {
    border: 1px solid #EEEEEE;
    background: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 20px;
}
#disqus-load {
    text-align: center;
    cursor: pointer;
}
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $('#disqus-load').on('click', function(){

        $.ajax({
            type: "GET",
            url: "https://" + 'arcestiadotcom' + ".disqus.com/embed.js",
            dataType: "script",
            cache: true
        });

        $(this).fadeOut();
    });
});
</script>

<div class="disqus-comments">
    <div id='disqus-load'>Load Comments</div>
    <div id='disqus_thread'></div>
</div>
