<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- Adsense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- arcestiadotcom links -->
<ins class="adsbygoogle"
 style="display:block"
 data-ad-client="ca-pub-5851794629507635"
 data-ad-slot="5460812303"
 data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
